<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<div class="m-location" id="c{data.uid}">
	<h2>Location</h2>
	<f:if condition="{data.bodytext -> v:format.trim()}">
		<div class="m-location--text" itemprop="location">
			{data.bodytext -> f:format.html()}
		</div>
	</f:if>
	<f:if condition="{data.location}">
		<div class="maps">
			<iframe style="width:100%;height:400px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAQr57DvK8fUw2Oh54G3cJo02UdBm-yQw4&q={data.location -> f:format.urlencode()}" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<a href="https://www.google.at/maps/dir//{data.location -> f:format.urlencode()}" target="_blank" title="Google Maps öffnen" data-toggle="tooltip" data-placement="right"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Route berechnen</a>
	</f:if>
</div>

</html>


