<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:if condition="{sessions}">
	<f:then>
		<div class="m-sessions row">
			<div class="col-xs-12">
				<f:if condition="{data.header}">
					<f:then>
						<f:render partial="Header" arguments="{_all}" />
					</f:then>
					<f:else>
						<h2>Sessions</h2>
					</f:else>
				</f:if>
			</div>
			<f:for each="{sessions}" as="session" iteration="iterator">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-sessions--speaker" itemprop="performer" itemscope="" itemtype="http://schema.org/Person">
					<div class="row">
						<div class="col-xs-6 col-sm-12">
							<f:if condition="{session.speaker.image}">
								<f:then>
									<f:image additionalAttributes="{itemprop:'image'}" src="/uploads/pics/{session.speaker.image}" class="img-circle img-responsive img-blacknwhite" width="640c" height="640c" alt="Portrait/Avatar von {session.speaker.first_name}{f:if(condition:'{session.speaker.middle_name}',then:' {session.speaker.middle_name}')} {session.speaker.last_name}" />
								</f:then>
								<f:else>
									<div class="session--speaker--avatarfallback img-circle">
										<v:media.gravatar additionalAttributes="{itemprop:'image'}"  email="{session.speaker.email}" size="640" class="img-circle img-responsive img-blacknwhite gravatar" imageSet="blank" />
									</div>
								</f:else>
							</f:if>
						</div>
						<div class="col-xs-6 col-sm-12">
							<p class="session--speaker--name" itemprop="name">
								{session.speaker.first_name}{f:if(condition:'{session.speaker.middle_name}',then:' {session.speaker.middle_name}')} {session.speaker.last_name}
							</p>
							<h2 class="session--speaker--topic">{session.title}</h2>
							<p class="session--speaker--topic--description">{session.description}</p>
							<f:if condition="{session.link}">
								<p><f:link.typolink class="session--speaker--topic--link" parameter="{session.link}" title='Zum Download von Präsentation/Dateien der Session "{session.title}" von {session.speaker.first_name} {session.speaker.last_name}'><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Download</f:link.typolink>&nbsp;&nbsp;</p>
							</f:if>
						</div>
					</div>


				</div>
				<f:if condition="{iterator.isLast}">
					<f:if condition="{iterator.index} < 4">
						<aside class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-sessions--speaker motivate">
							<div class="row">
								<div class="col-xs-6 col-sm-12">
									<div class="box1-1"><f:comment><span class="glyphicon glyphicon-comment img-responsive img-circle" aria-hidden="true"></span></f:comment></div>

								</div>
								<div class="col-xs-6 col-sm-12">
									<p class="session--speaker--name">
										Dein Talk
									</p>
									<h2 class="session--speaker--topic">Möchtest du ein Thema vorstellen?</h2>
									<f:if condition="{settings.uid.newtalk}">
										<p><f:link.typolink class="session--speaker--topic--link" parameter="{settings.uid.newtalk}" title="Thema vorschlagen"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Weitere Infos</f:link.typolink>&nbsp;&nbsp;</p>
									</f:if>
								</div>
							</div>
						</aside>
					</f:if>
				</f:if>
			</f:for>
		</div>
	</f:then>
	<f:else>

	</f:else>

</f:if>
</html>
