.m-sessions {
	margin-bottom: 50px;
	&--speaker {
		margin-bottom: 30px;
		@media(min-width: $screen-tablet) {
			text-align: center;
		}
		&.motivate {
			display: none;
			.tmpl-homepage & {
				display: block;
			}
			.box1-1 {
				border-radius: 100% 100%;
				background-color: #F5F5F5;

				> span.glyphicon {
					font-size: 140px;
					transform: translateY(9%);
					opacity: 0.05;
				}

				@media(min-width: $screen-desktop) {
					> span.glyphicon {
						font-size: 150px;
					}
				}
			}
		}
	}
	.session {
		&--speaker {

			&--avatarfallback {
				position: relative;
				width: 100%;		/* desired width */
				&:before {
					content: "";
					display: block;
					padding-top: 100%; 	/* initial ratio of 1:1*/
				}
				> .gravatar {
					position: absolute;
					top: 0px;
				}
				background:{
					image: url("../Images/tuga-speaker.svg");
					repeat: no-repeat;
					size: cover;
					position: 50% 50%;
				}
			}
			&--name {
				margin-bottom: 2px;
				font-weight: bold;
				font-size: $font-size-base + 4;
				margin-top: 35px;
				@media(min-width: $screen-tablet) {
					margin-top: 15px;
				}
			}
			&--topic {
				margin-top: 0;
				margin-bottom: 2px;
				font-size: $font-size-base - 1;
				&--description {
					font-size: $font-size-small - 1;
					margin-bottom: 0;
				}
				&--link {
					font-size: $font-size-small - 2;
					> p {
						margin-top: 4px;
						> span {
							font-size: $font-size-small - 2 - 4;
						}
					}
				}
			}
		}
	}
}
