nbproject/
*~
*.bak
*.idea
*.project
*.swp
.buildpath
.cache
.project
.session
.settings
.TemporaryItems
.webprj
nbproject
.DS_Store
.vagrant
*.t3x
*.t3d
*.zip
*.sql
!typo3conf/ext/**/*.sql

# Ignore TYPO3 system folders, you should have them symlinked.
# If not comment out the following entries.
/typo3
/typo3_src
/typo3_src-*
/index.php
/vendor

# Ignore temp directory.
/typo3temp/

# basically user generated content
/fileadmin/
/uploads/


# ext:realurl autoconfiguration
/typo3conf/realurl_autoconf.php

# /typo3conf stuff
/typo3conf/temp_CACHED*
/typo3conf/temp_fieldInfo.php
/typo3conf/deprecation_*.log
/typo3conf/ENABLE_INSTALL_TOOL
/FIRST_INSTALL

# generally exclude all exts except 'local' ones
/typo3conf/ext/*
!/typo3conf/ext/theme
!/typo3conf/ext/ccontent

# symlinked cmd for ext:typo3_console
/typo3cms

# custom localConfiguration for development
typo3conf/AdditionalConfiguration_custom.php






### Sass template
node_modules
.sass-cache/
*.css.map
### Node template
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

Build/**/
