<html data-namespace-typo3-fluid="true"
			xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
			xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="Ressources">
	</f:section>

	<f:section name="Content">
		<div class="container content-main">
			<div class="row">
				<div class="col-xs-12">
					<section itemtype="http://schema.org/Event">
						<h1 class="text-uppercase">
							<span itemprop="name" class="meeting-detail--header--main">{data.title}</span>
							<f:if condition="{data.meetup_time}">
								<small itemprop="startDate" content="{data.meetup_time -> f:format.date(format:'%Y-%m-%dT%X')}" class="meeting-detail--header--date">
									<span class="meetup--date">{data.meetup_time -> f:format.date(format:'%d.&nbsp;%h&nbsp;%Y')}</span>
									<span class="meetup--time">{data.meetup_time -> f:format.date(format:'%R')}&nbsp;Uhr</span>
								</small>
							</f:if>
						</h1>
						<f:if condition="{data.meetup_sponsor}">
							<p class="meetup--sponsor"><span  title="Location Sponsor von {data.title}" data-toggle="tooltip" data-placement="right">{data.meetup_sponsor}</span></p>
						</f:if>
						<div class="hidden">
							<f:link.page absolute="true" additionalAttributes="{itemprop:'url'}"><f:uri.page absolute="true" /></f:link.page>
						</div>

						{v:content.render(column: '0')}
					</section>

				</div>
			</div>
		</div>
	</f:section>

</html>
