<html data-namespace-typo3-fluid="true"
			xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
			xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="Ressources">
	</f:section>

	<f:section name="Content">
		<v:page.menu.directory pages="{settings.uid.meetings}" as="meetupPages">
			<f:for each="{meetupPages}" as="meetupPage" iteration="iterator">
				<f:if condition="{iterator.isFirst}">
					{v:page.info(pageUid: '{meetupPage.uid}') -> v:variable.set(name: 'latestMeetup')}
				</f:if>
			</f:for><!-- TYPO3 Inspire people to share! -->
		</v:page.menu.directory>

		<header id="nextmeetup">
			<h1>
				<f:image src="{f:uri.resource(path:'Images/tuga.svg', extensionName:'theme')}" maxWidth="284" />
				<span>TYPO3 Usergroup Austria</span>
			</h1>
			<div class="nextmeetup--bottom">
				<p class="nextmeetup--info">
					Unser nächstes Treffen:
					<span itemprop="startDate" content="%Y-%m-%d %X">
						<i class="icon-cal"></i> {latestMeetup.meetup_time -> f:format.date(format:'%d. %B %Y')}
						<i class="icon-clock"></i> {latestMeetup.meetup_time -> f:format.date(format:'%R')}
					</span>
				</p>
				<f:if condition="latestMeetup.meetup_link">
					<div class="nextmeetup--link nextmeetup--link__meetup">
						<f:link.external uri="{latestMeetup.meetup_link}" target="_blank">Termin auf meetup.com</f:link.external>
					</div>
				</f:if>

			</div>
		</header>

		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<f:if condition="{latestMeetup}">
						{v:content.render(column:'0', pageUid: '{latestMeetup.uid}')}
					</f:if>
					{v:content.render(column: '0')}
				</div>
			</div>
		</div>


		<f:render partial="Page/Pastmeetings.html" section="Main" />
	</f:section>

</html>
