<html data-namespace-typo3-fluid="true"
			xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
			xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
			v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd">

<f:layout name="Default" />

	<f:render section="Ressources"/>
	<f:if condition="{data.uid} == {RootUid}">
		<f:render partial="Page/Infobar" section="Main" arguments="{_all}" />
	</f:if>

	<f:render section="Content" />

	<f:render partial="Page/FooterPage" section="Main" arguments="{_all}" />
	<f:render partial="Page/Footer" section="Main" arguments="{_all}" />

</html>
