<html data-namespace-typo3-fluid="true"
			xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
			xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="Ressources">
	</f:section>

	<f:section name="Content">
		<div class="container content-main">
			<div class="row">
				<div class="col-xs-12">
					{v:content.render(column: '0')}

				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					{v:content.render(column: '20')}
				</div>
				<div class="col-xs-12 col-sm-6">
					{v:content.render(column: '21')}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					{v:content.render(column: '22')}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					{v:content.render(column: '23')}
				</div>
				<div class="col-xs-12 col-sm-6">
					{v:content.render(column: '24')}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					{v:content.render(column: '25')}
				</div>
			</div>
		</div>
	</f:section>

</html>
