<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:section name="Main">
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-5 col-lg-4 cursor-default footer--infotext">
					<f:format.html><f:format.date format="Y">today</f:format.date> - <span title="TYPO3 Usergroup Austria" class="cursor-help" data-toggle="tooltip" data-placement="right">TUGA</span></f:format.html>
				</div>
				<nav class="col-xs-12 col-md-7 col-lg-8 text-right">
							<v:page.menu.directory as="menu" class="nav nav-pills nav--footer" pages="{settings.uid.service},{settings.uid.social}" expandAll="false" showHiddenInMenu="false" linkActive="true" linkCurrent="true" classActive="" classCurrent="">
								<f:for each="{menu.item}" as="item">
									<li class="{item.class}">
										<a href="{item.link}">{item.linktext}</a>
									</li>
								</f:for>
							</v:page.menu.directory>

				</nav>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<p class="footer--hoster text-muted">Hosting Sponsor <a href="https://www.abaton.at" target="_blank" title="Österreichisches TYPO3 Hosting" data-toggle="tooltip" data-placement="top">abaton.at</a></p>
				</div>
			</div>
		</div>
	</footer>
</f:section>

</html>
