<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:section name="Main">
	<aside class="l-footerpage">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-5">
					<h4>Die österreichische TYPO3 Usergroup</h4>
					<p>besteht aus Benutzern, Entwicklern und Interessierten, vom Anfänger bis zum Experten, welche sich für TYPO3 interessieren.</p>
				</div>
				<div class="col-xs-12 col-md-7">
					<div class="row">
						<div class="col-xs-6">
							<div class="teaser-action">
								<f:link.typolink parameter="42">
									<h1>
										<span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
									</h1>
									<h4 class="teaser-action--title">Thema vorschlagen</h4>
									<p class="small teaser-action--desc"><span class="hidden-xs">TYPO3 und verwandte Themen</span></p>
								</f:link.typolink>
							</div>

						</div>
						<div class="col-xs-6">
							<div class="teaser-action">
								<f:link.typolink parameter="43">
									<h1>
										<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
									</h1>
									<h4 class="teaser-action--title">Sponsor werden</h4>
									<p class="small teaser-action--desc"><span class="hidden-xs">Location, Bier, Getränke und Pizza</span></p>
								</f:link.typolink>
							</div>
						</div>
					</div>
				</div>
			</div>
			<f:comment><div class="row">
				<div class="col-xs-12 col-md-4">wer sind wir</div>
				<div class="col-xs-12 col-md-4"></div>
				<div class="col-xs-12 col-md-4"></div>
			</div></f:comment>
		</div>
	</aside>
</f:section>

</html>
