<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:section name="Main">
	<aside class="l-footerpage">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-5">
					<h4>Die österreichische TYPO3 Usergroup</h4>
					<p>Bei uns ist <b>jeder</b> TYPO3 Begeisterte willkommen! Wir bestehen aus aus Benutzern, Entwicklern und Interessierten, vom Anfänger bis zum Experte.</p>
				</div>
				<div class="col-xs-12 col-md-7">
					<div class="row">
						<div class="col-xs-6">
							<div class="teaser-action">
								<f:link.typolink parameter="42">
									<h1>
										<span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
									</h1>
									<h4 class="teaser-action--title">Thema vorschlagen</h4>
									<p class="small teaser-action--desc"><span class="hidden-xs">TYPO3 und verwandte Themen</span></p>
								</f:link.typolink>
							</div>

						</div>
						<div class="col-xs-6">
							<div class="teaser-action">
								<f:link.typolink parameter="43">
									<h1>
										<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
									</h1>
									<h4 class="teaser-action--title">Sponsor werden</h4>
									<p class="small teaser-action--desc"><span class="hidden-xs">Location, Bier, Getränke und Pizza</span></p>
								</f:link.typolink>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-3">
					<div class="footer-link-block typo3">
						<f:link.page pageUid="26">
							<span class="footer-link-block--title">
								Über uns
							</span>
							<span class="footer-link-block--text">
								Die TUGA, eine öster­reichische TYPO3 Community
							</span>
						</f:link.page>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="footer-link-block typo3">
						<f:link.page pageUid="47">
							<span class="footer-link-block--title">
								TYPO3 in Österreich
							</span>
							<span class="footer-link-block--text">
								Zahlen & Fakten über die Verbreitung von TYPO3 in Österreich
							</span>
						</f:link.page>
					</div>
				</div><f:comment>
				<div class="col-xs-6 col-md-3">
					<div class="footer-link-block typo3-introduction">
						<f:link.external uri="https://typo3.org" target="_blank">
							<span class="footer-link-block--title">
								Success Stories
							</span>
							<span class="footer-link-block--text">
								Österreichische TYPO3 Projekte
							</span>
						</f:link.external>
					</div>
				</div></f:comment>
				<div class="col-xs-6 col-md-3">
					<div class="footer-link-block typo3-introduction">
						<f:link.external uri="https://typo3.org" target="_blank">
							<span class="footer-link-block--title">
								TYPO3.org
							</span>
							<span class="footer-link-block--text">
								Die offizielle Website der aktuellen TYPO3 Produkte
							</span>
						</f:link.external>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="footer-link-block typo3-introduction">
						<f:link.external uri="https://docs.typo3.org" target="_blank">
							<span class="footer-link-block--title">
								TYPO3 Links & Ressourcen
							</span>
							<span class="footer-link-block--text">
								Erste Anlaufstellen und hilfreiche Links für TYPO3 Einsteiger
							</span>
						</f:link.external>
					</div>
				</div>
			</div>
		</div>
	</aside>
</f:section>

</html>
