<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:section name="Main">
	<header class="l-header-subpage">
		<div class="l-header-subpage--bg"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-7 hidden-xs l-header-subpage--logodiv-before">

				</div>
				<div class="col-xs-12 col-sm-6 col-md-5 l-header-subpage--logodiv">
					<div class="l-header-subpage--logo">
						<f:link.page pageUid="{RootUid}">TYPO3 Usergroup Austria</f:link.page>
					</div>
				</div>
			</div>
		</div>
	</header>
</f:section>

</html>
