

<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:section name="Main">
	<v:page.menu.directory pages="{settings.uid.meetings}" as="pastMeetings" expandAll="false" linkActive="true" classCurrent="active" classActive="active" class="nav-link">
		<nav>
			<h3>Bisherige TUGAs</h3>
			<ul class="nav nav--pastmeetings">
				<f:for each="{pastMeetings}" as="item">
					<li class="nav-item">
						<a href="{item.link}" class="{item.class}">
							<v:tag name="span" class="nav--pastmeetings--title">{item.nav_title -> v:or(alternative: item.title)}</v:tag>
							<f:if condition="{item.meetup_time}"><v:tag name="span" class="nav--pastmeetings--date" title="{item.title} fand bereits statt: {item.meetup_time -> f:format.date(format:'KW%W, %A, %d. %B %Y')}"> {item.meetup_time -> f:format.date(format:'%d. %B %Y')}</v:tag></a></f:if>
						<f:if condition="{item.meetup_sponsor}">
							<v:tag name="span" class="nav--pastmeetings--sponsor">{item.meetup_sponsor}</v:tag>
						</f:if>
					</li>
				</f:for>
			</ul>
		</nav>
	</v:page.menu.directory>
</f:section>

</html>
