

<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:section name="Main">
	<v:page.menu.directory pages="{settings.uid.meetings}" as="pastMeetings" expandAll="false" linkActive="true" classCurrent="active" classActive="active" class="nav-link" showCurrent="false" showHiddenInMenu="false">
		<aside class="l-pastmeetings">
			<hr>
			<nav>
				<h2>Bisherige TUGA-Meetings</h2>
				<ul class="nav nav--pastmeetings">
					<f:for each="{pastMeetings}" as="item">
						<f:if condition="{item.meetup_time -> f:format.date(format:'%Y%m%d')} < {f:format.date(format:'%Y%m%d',date:'today')}">
							<li class="nav-item">
								<a href="{item.link}" class="{item.class}">
									<v:tag name="span" class="nav--pastmeetings--title">{item.nav_title -> v:or(alternative: item.title)}</v:tag>
									<f:if condition="{item.meetup_time}"><v:tag name="span" class="nav--pastmeetings--date" title="{item.title} fand bereits statt: {item.meetup_time -> f:format.date(format:'KW%W, %A, %d. %B %Y')}"> <small>{item.meetup_time -> f:format.date(format:'%e. %B %Y')}</small></v:tag></f:if>
									<f:if condition="{item.meetup_sponsor}"> <v:tag name="span" class="nav--pastmeetings--sponsor visible-md-inline visible-lg-inline"><small>{item.meetup_sponsor}</small></v:tag></f:if></a>

							</li>
						</f:if>
					</f:for>
				</ul>
			</nav>
		</aside>
	</v:page.menu.directory>
</f:section>

</html>
